.auto_thumbnail{
    float: left;
    margin: 5px;
    width: 200px;
    height: 100px;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #519EEE;
    border-radius: 50%;
    animation: lds-ring 0.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #519EEE transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.2s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.1s;
}

@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

#search-results-header {
    font-size: 4.2rem;
    line-height: 1;
    margin-bottom: 2.2rem;
}
  

.entry-content ul li.custom-search-list {
    margin-left: 0;
}

#bestreviews-search-results .entry {
    margin-bottom: 0 !important;
}