.panel-group.green {
    background-color: green;
}

.panel-group.red {
    background-color: red;
}

.panel-group.processing {
    background-color: yellow;
}

.form-group .form-select {
    max-width: 100%;
}

.review-ratings-table__stars span, .comments-rating-table__stars span{
    color: #f2cc00;
}

.sui.sui-star:before, .sui.sui-star-o:before {
    font-size: 20px;
}

.sui-star:before {
    content: "\f005";
}

.comments-rating-table{
    width: 100%;
    margin-bottom: 25px;
    margin-top: -3px;
}

.comments-rating-table__titlecell{
    width: 20%;
    margin-bottom: 25px;
    margin-top: -3px;
}


.comments-rating-table__stars{
    width: 30%;
}

.comments-ratings-table__stars span, .review-ratings-table__stars span{
    margin-top: 4px;
}